#whole {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#whole {
    display: flex;
    justify-content: space-between;
}

#playerHalf, #enemyHalf {
    width: 45%;
    border: 1px solid antiquewhite;
    padding: 10px;
}

.btn {
    border: 3px solid antiquewhite;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
