* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}


body {
    display: flex;
}

#whole {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 75vh;
    background-size: contain;
    background-image: url(assets/battleBackground.png);
}

.btn {
    justify-items: center;
    text-align: center;
    width: 10vw;
    height:5vh;
    background-color: antiquewhite;
    border-style: solid;
    margin-bottom: 1em;
    border-radius: 4px;
    border-color: #594E36;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#playerHalf {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    width: 100%;
    height: 100%;
}

:hover.btn {
    cursor: pointer;
}

.enemy {
    width: 10dvw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

.Player {
    width: 8dvw;
}

.playerBtns {
    width: 15%;
    height: 35%;
    padding: 0.5em;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

#enemy-half{
    display: flex;
    align-items: flex-end;
}

.hidden {
    display: none;
}