:root{
    --background : #594E36;
    --primary: #415F3E;
    --secondary: #89A587;
    --accent: #865792;
    --text1: #ffffff;
    --text2: #000000;
    font-size: 14px;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* REUSABLE CLASSES USE THESE PLEASE */
.flex{
    display: flex;
    flex-flow: row wrap;
}
.half{
    width: 50%;
}
.full{
    width: 100%;
}
.column{
    flex-flow: column wrap;
}

body{
    background-image: url(assets/background.png);
    background-size: 250px;
}

.font {
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
}

.button{
    display: flex;
    justify-content: center;
    color: var(--text1);
    font-size: 2rem;
    text-decoration: none;
    background-color: var(--primary);


}

#home{
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
}

nav{
    justify-content: center;
    align-content: space-around;
    height: 30%;
}

nav > a{
    padding: 1.2rem 0;
    width: 100%;
    border: var(--secondary) .2rem solid;
}

#fontHead {
    color: white;
    padding-top: 2rem;
    font-size: 4rem;
    width: 100%;
    text-align: center;
}

.fillpage{
    width: 100dvw;
    height: 100dvh;
}

#createGame{
    align-content: center;
    justify-content: center;

}
#pop{
    background-color: var(--primary);
    padding: 2rem;
    row-gap: 2rem;
    border-radius: 1vmin;
    border: #000000 solid .2rem;
}
#pop h2,p{
    font-size: 1.75rem;
}
.box-select {
    background-color: #594E36;
    color: white;
    width: 20%;
    border-radius: 1vmin;
    border: #000000 solid .2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#players{
    justify-content: space-between;
}
.selector{
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 1rem;
}