:root{
    --background : #594E36;
    --primary: #415F3E;
    --secondary: #89A587;
    --accent: #BB0505;
    --text: #000000;
    font-size: 14px;
    color: var(--text);
}

.font {
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

.headingMain {
    font: xx-large;
}

a {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3emd;
    
}

.button {
    padding: 1em;
    margin: 1em;
    border-style: solid;
    border-color: black;
    width: 25%;
    background-image: url(woodBackground.jpg);
}

body {
    margin:0px
}

main {
    background-image: url(background.png);
    width: 100%;
    margin-top: 0px;
    height: 100vh;
    background-size: 250px;
}

footer{
    color:white;
    display: flex;
     justify-content: center;
}

#fontHead {
    display: flex;
    color: white;
    font-size: 75px;
    padding-top:2em;
    justify-content: center;

}

a:hover {
    color: #415F3E;
}

.button { 
    border-radius: 5px;
    padding: 15px 55px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: flex;
  }
  .button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  .green {
    background-color: #000;
    box-shadow: 3px 5px 5px #000000;
    border-radius: 2px;
    transition: all .3s ease-in-out;
  }
  .green:hover {
    background-color: #000;
    /*  Making button bigger on hover  */
    padding: 20px 60px;
    transform: scale(1.1);
  }
#game{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#createPanel{
    display: flex;
    justify-content: center;
    
}

button{
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
